<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475689461836-fbikurnmosse349m2bdi3f9l83tufmhv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475689461836-fbikurnmosse349m2bdi3f9l83tufmhv</string>
	<key>API_KEY</key>
	<string>AIzaSyCOy5Cg-oXKbANsyQA52oEpR7Y5tWir0EU</string>
	<key>GCM_SENDER_ID</key>
	<string>475689461836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.earlpotts.keepaustinblack</string>
	<key>PROJECT_ID</key>
	<string>the-guide-to-black-austin</string>
	<key>STORAGE_BUCKET</key>
	<string>the-guide-to-black-austin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475689461836:ios:3da8b21ee52f56be602ce9</string>
	<key>DATABASE_URL</key>
	<string>https://the-guide-to-black-austin.firebaseio.com</string>
</dict>
</plist>